@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-jp.css);
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');


* {
  font-family: 'Pretendard', 'Spoqa Han Sans Neo', 'Spoqa Han Sans JP', sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: antialiased;
}



